<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mn.cm.dao.AladinBookMapper">
    <insert id="insertAladinBook" parameterType="com.mn.cm.model.AladinBook">
        INSERT INTO MN_BK_MST
        (ISBN13, ISBN, TITLE, AUTHOR, PUBLISHER, PUB_DATE, DESCRIPTION, COVER, LINK, PRICE_STANDARD, PRICE_SALES, CATEGORY_NAME, CATEGORY_ID, CUSTOMER_REVIEW_RANK, SALES_POINT, ITEM_ID, MALL_TYPE)
        VALUES
        (#{isbn13}, #{isbn}, #{title}, #{author}, #{publisher}, #{pubDate}, #{description}, #{cover}, #{link}, #{priceStandard}, #{priceSales}, #{categoryName}, #{categoryId}, #{customerReviewRank}, #{salesPoint}, #{itemId}, #{mallType})
        ON DUPLICATE KEY UPDATE MOD_DT=NOW()
    </insert>

    <select id="selectByIsbn" parameterType="string" resultType="com.mn.cm.model.AladinBook">
        SELECT ISBN13, ISBN, TITLE, AUTHOR, PUBLISHER, PUB_DATE, DESCRIPTION, COVER, LINK, PRICE_STANDARD, PRICE_SALES, CATEGORY_NAME, CATEGORY_ID, CUSTOMER_REVIEW_RANK, SALES_POINT, ITEM_ID, MALL_TYPE, REG_DT, MOD_DT
        FROM MN_BK_MST
        WHERE ISBN = #{isbn}
        LIMIT 1
    </select>

    <select id="selectList" parameterType="map" resultType="com.mn.cm.model.AladinBook">
        SELECT ISBN13 as isbn13, ISBN as isbn, TITLE as title, AUTHOR as author, PUBLISHER as publisher, PUB_DATE as pubDate, DESCRIPTION as description, COVER as cover, LINK as link, PRICE_STANDARD as priceStandard, PRICE_SALES as priceSales, CATEGORY_NAME as categoryName, CATEGORY_ID as categoryId, CUSTOMER_REVIEW_RANK as customerReviewRank, SALES_POINT as salesPoint, ITEM_ID as itemId, MALL_TYPE as mallType, REG_DT as regDt, MOD_DT as modDt
        FROM MN_BK_MST
        ORDER BY SALES_POINT DESC, REG_DT DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>